.navbar-basic-styling{
    position: fixed;
    /* background-color: red; */
    top: 0;
    /* margin-bottom: 102rem; */
    width: 100%;
    height: 4rem;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);    align-items: center;
    justify-content: center;
    display: flex; 
    z-index: 1000; /* Ensure it’s above other elements */
}

.navbar-elements{
    width: 75%;
    height: 75%;
    /* background-color: red; */
    display: flex;
}

/* .nav-user-dropdown-and-settings, .nav-logo {
    width: 50%;
} */

.nav-messages-square{
    height: 80%;
    width: 2.4rem;
    color: #5BBCFF;
}

.nav-logo{
    display: flex;
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 1.8rem;
    width: 20%;

}

.nav-titile{
    position: relative;
    bottom: 1.5rem;
    left: .5rem;
    /* color: #5BBCFF ; */

}

@media screen and (max-width: 800px) {
    /* Styles for viewports 800px wide and below */
    .nav-titile{
        display: none
    
    }
}

.nav-user-dropdown-and-settings {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 20%
}

.nav-user-avatar{
    height: 80%;
    width: 2.4rem;
    background-color:white;
    border-radius: 50%;
    cursor: pointer;
    /* border-style: solid; */
    /* border-color: gray;/ */
}

.nav-user-dropdown {
    position: absolute;
    top: 3rem;
    right: 0rem;
    /* bottom: 2rem; */
    width: 13rem;
    height: auto;
    background-color: white;
    /* z-index: 1; */
    /* border: .1rem soli; */
    border-radius: 5%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    /* width: 10%; */

}

.nav-user-name-and-email{
    margin: .5rem;
}


.line{
    background-color: #EEEEEE; /* Sets the color of the line */
    height: 1.5px;            /* Sets the thickness of the line */
    width: 100%;            /* Makes the line span the full width of its container */
    border: none;  
    margin: 0; 

}

.username, .email {
    margin: 0;
    font-family: Sans-serif;

}

.username{
    margin-bottom: .5rem;
}

.email{
    font-weight: 100;
}

.signIn-signOut{
    margin: .5rem;
    font-family: Sans-serif;

}

.nav-feed, .nav-create-a-chat, .nav-settings{
    margin: .7rem .5rem;
    font-family: Sans-serif;
}

.hide-user-dropdown{
    visibility: hidden;
}

.nav-searchbar{
    width: 60%;
    justify-content: center;
    display: flex; 
    align-items: center; 
    height: 100%;
}